.filtered-list-container {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(250, 250, 250);

    .list-container {
        margin-top: 50px;
    }
}